%ul#community-bar.nav.nav-tabs.bg-dark{:role => "tablist"}
  %li.nav-item
    %a#overview-tab.nav-link.active{"aria-controls" => "overview", "aria-selected" => "true", "data-toggle" => "tab", :href => "#overview", :role => "tab"} Overview
  %li.nav-item
    %a#members-tab.nav-link.text-light{"aria-controls" => "members", "aria-selected" => "false", "data-toggle" => "tab", :href => "#members", :role => "tab"} Members
  - if @member.has_role?(:owner)
    %li.nav-item
      %a#settings-tab.nav-link.text-light{"aria-controls" => "settings", "aria-selected" => "false", "data-toggle" => "tab", :href => "#settings", :role => "tab"} Einstellungen
    %li.nav-item
      %a#roles-tab.nav-link.text-light{"aria-controls" => "roles", "aria-selected" => "false", "data-toggle" => "tab", :href => "#roles", :role => "tab"}
        Rollen
        - if @community.joinable_dc_roles.empty?
          %i.fas.fa-exclamation-triangle#community-state-warning
