%ul#event-bar.nav.nav-tabs.bg-dark{:role => "tablist"}
  %li.nav-item
    %a#details-tab.nav-link.active{"aria-controls" => "details", "aria-selected" => "true", "data-toggle" => "tab", :href => "#details", :role => "tab"} Details
  %li.nav-item
    %a#participants-tab.nav-link.text-light{"aria-controls" => "participants", "aria-selected" => "false", "data-toggle" => "tab", :href => "#participants", :role => "tab"} Teilnehmer
  %li.nav-item
    %a#tools-tab.nav-link.text-light{"aria-controls" => "tools", "aria-selected" => "false", "data-toggle" => "tab", :href => "#tools", :role => "tab"} Tools