.container
  %h1 Events
  .row.justify-content-center
    - size = @events.size < 3 ? 6 : 4
    - @events.each do |event|
      %div{class: "col-md-#{size}"}
        = render partial: 'item', locals: { event: event }
  %br/
  = action_bar do
    - link_to 'Erstellen', new_event_path
= javascript_pack_tag 'events/index'