@import "~bootstrap/scss/bootstrap";

body {
    background-color: #2F3136;
    color: white;
}

#content {
    background-color: #36393F;
    min-height: 100vh;
    margin-top: 20px;
}

#actions {
    background-color: #36393F;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

#actions a {
    color: white;
    margin: 10px;
}

.event_card {
    width: 100%;
}

.card#event-card-show {
    z-index: 3;
    min-height: 400px;
}

#event-bar {
    z-index: 2; 
}

small {
    color: white;
}

#profile_picture {
    width: 50px;
    height: 50px;
}

.img-placeholder {
    width: 50px;
    height: 50px;
    display: inline;
}