@import "~bootstrap/scss/bootstrap";

body {
    background-color: #2F3136;
    color: white;
}

#content {
    background-color: #36393F;
    min-height: 100vh;
    margin-top: 20px;
}

#actions {
    background-color: #36393F;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

#actions a {
    color: white;
    margin: 10px;
}

.event_card {
    width: 100%;
}

.card#event-card-show {
    z-index: 3;
    min-height: 400px;
}

#event-card-show img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.1;
    overflow: hidden;
}

#event-picture {
    position: absolute;
    left: 0;
    top: -20;
    width: 100%;
    height: auto;
    opacity: 0.1;
    z-index: -1;
}

#event-bar {
    z-index: 2; 
}

small {
    color: white;
}